<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Homes</title>
    <link rel="stylesheet" href="/css/Bootstrap.css">
    <link rel="stylesheet" href="/scss/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link
        href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/fonts/Avenir-Light.ttf">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- <script id="BotPenguin-messenger-widget" src="https://cdn.botpenguin.com/botpenguin.js" defer>62c2d192dff07b5feed2a5b3,62c2d0cf99f7d360874c9d38</script> -->
</head>

<body>
    <%- include('Includes/Preloader.ejs') %>
        <%- include('Includes/Header.ejs') %>
            <%- include('Includes/FixedSection.ejs') %>
                <div class="container-fluid cp-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="contact-form">
                                    <h2>Contact with Us</h2>
                                    <!-- <p>Quick Chat with Us and one more thing - We are Like your Family.</p> -->
                                    <form class="contactForm">
                                        <div class="form-group">
                                            <label for="exampleInputName">Full Name</label>
                                            <input type="text" class="form-control" id="exampleInputName"
                                                placeholder="Your Name" aria-describedby="emailHelp" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail"
                                                placeholder="Your Email" aria-describedby="emailHelp" required>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your
                                                email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputMobile">Mobile</label>
                                            <input type="text" class="form-control" value="+91 " id="exampleInputMobile"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputMessage">Message</label>
                                            <textarea class="form-control" id="exampleInputMessage"
                                                placeholder="Your Message Here"></textarea required>
                            </div>
                            <input type="submit" value="Contact" class="btn">
                            &nbsp;&nbsp; <b><label class="contactMsg"></label></b>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 p-lg-2">
                    <!-- <img src="/images/undraw_agreement_re_d4dv.svg" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
        
    <%- include('Includes/Footer.ejs') %>
    <%- include('Includes/UserAuth.ejs') %>

    <script src="/js/Jquery.js" type="text/javascript"></script>
    <script src="/js/Bootstrap.js" type="text/javascript"></script>
    <script src="/CustomJS/Custom.js" type="text/javascript"></script>
    <script src="/CustomJS/Auth.js" type="text/javascript"></script>
    <script src="/CustomJS/Landing.js" type="text/javascript"></script>
</body>

</html>